@{
    ViewData["Title"] = "Izvjestaji";
}

    <div class="text-center">
        <p class="display-4">Odaberi model izvještaja:</p>

        

        <input type="file" id="fileUpload" accept=".xls,.xlsx" /><br />
        <button type="button" id="uploadExcel">Convert</button>
        <pre id="jsonData"></pre>
    </div>
